*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Primary Button */
.primary-btn{
    color: #FFFFFF;
    background-color: #FD6E0A;
    border: 0;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
}

.primary-btn:hover{
    background-color: #f83a00;
}

/* Header Section */
.banner{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
    

}
.header-items{
    float: right;
    text-align: right;
    /* margin-right: 230px; */
    margin:  216px 170px 170px 800px;

}

.banner-heading{
    color: #151414;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 24px;
}

.banner-description{
    color: #444343;
    line-height: 26px;
    margin-bottom: 32px;
}



/* Main Section Items */
main{
    max-width: 100%;
    margin: 0 auto;
}


/* Our Failure Section */
.failure-section{
    display: flex;
    gap: 30px;
    /* margin: 130px 200px 300px ; */
    margin: 130px 200px 0 200px;
}

.bgc-img{
    /* position: absolute; */
    background: bottom rgba(241, 91, 34, 0.2);
    border-radius: 50%;
    height: 527.93px;
    
}

.dr-luna{
    /* color: rgba(255, 192, 203, 0.862); */
    /* background-image: url('rgba(241, 91, 34, 0.2)'); */
    /* background: rgba(241, 91, 34, 0.2); */
    /* background-position: center; */
    /* border-radius: 50%; */
}



.failure-about{
    margin: 200px 80px 300px;

}

.failure-section-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

.failure-section-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-ul-list{
    padding: 0;
}

.failure-about-list{
    color: #444343;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;

}

.tick-mark{
    color: green;
}


/* My Plan Section */
.plan-section{
    margin: 0 auto;
}

.plan-header{
    text-align: center;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 40px;
}

.plan-skills{
    display: flex;
    margin: 0 100px 0 100px ;
    gap: 80px;
    border: none;
    margin-bottom: 30px;
}

.skill{
    width: 25%;
    margin: 0 auto;
    text-align: center;

}

.skill img{
    display: inline-block;
    margin-bottom: 13px;
}

.skill-header{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.skill-description{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #737272;
}


/* Mindset Section */
.mindset-section{
    width: 1140px;
    margin: 200px auto; 
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    border-radius: 8px;
    
}

.mindset{
    width: 600px;
    height: 182px;
    padding: 59px 0 59px 59px;
    border-radius: 5px;



}


.mindset-header{
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.call-now-btn{
    background-color: #FFFFFF;
    color: #F15B22; ;
    border: 1px solid #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    margin-top: 25px;
}

/* Footer Section */
.footer-section{
    background-color: #151414;
    width: 100%;
    height: 577px;
    display: flex;
    gap: 300px;
    /* padding: 130px 0 130px 230px; */
}


/* Future Side */
.future{
    padding: 130px 0 130px 230px;
}

.future-heading{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future-description{
    color: #F8F8F8;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.email-address{
    color: #F8F8F8;
    margin-bottom: 16px;
}

.phone-no{
    color: #F8F8F8;
    margin-bottom: 30px;
}


.social-media{
    margin-right: 15px;
}


/* Subscribe side */
.subscribe-side{
    padding: 130px 230px 130px 0;
}

.subscribe-header{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;

}

input[type="email"]{
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 18px;
    margin-bottom: 16px;
}

.subscribe-btn{
    color: #F15B22;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
}