*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Primary Button */
.primary-btn{
    color: #FFFFFF;
    background-color: #FD6E0A;
    border: 0;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
}

.primary-btn:hover{
    background-color: #f83a00;
}

/* Header Section */
.banner{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
    

}
.header-items{
    float: right;
    text-align: right;
    /* margin-right: 230px; */
    margin:  216px 170px 170px 800px;

}

.banner-heading{
    color: #151414;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 24px;
}

.banner-description{
    color: #444343;
    line-height: 26px;
    margin-bottom: 32px;
}



/* Main Section Items */
main{
    max-width: 100%;
    margin: 0 auto;
}


/* Our Failure Section */
.failure-section{
    display: flex;
    gap: 30px;
    margin: 130px 200px 0 200px;
}


.dr-luna{
    height: 527px;
}


.failure-about{
    margin: 200px 80px 180px;

}

.failure-section-heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

.failure-section-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}


.failure-about-list{
    color: #444343;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;

}

.tick-mark{
    color: green;
}



/* Map The Future Together */
.future-together{
    margin-bottom: 150px;
}

.future-together-header{
    background: rgb(235,154,48);
    background: linear-gradient(0deg, rgba(235,154,48,1) 6%, rgba(212,98,32,0.981127485173757) 93%);
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 200px;
    margin-bottom: 50px;
}

.ila-podcast{
    font-weight: 600;
    font-size: 25px;
    padding: 25px 0 25px 40px;
}

.podcast-header{
    font-weight: 700;
    font-size: 40px;
    padding: 0 0 0 40px;
}

.podcast-side{
    display: flex;
    gap: 10px;
}

.Margaret-Heffernan-img{
    margin-left: 40px;
    width: 700px;
}

.with-Margaret-Heffernan{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.Margaret-Heffernan-date{
    font-size: 20px;
    margin-bottom: 25px;
}

.share-this-podcast{
    font-size: 20px;
    margin-bottom: 30px;
}

.listen-podcast{
    font-size: 17px;
    border-radius: 30px;
    padding: 15px;
}



/* My Plan Section */
.plan-section{
    margin: 0 auto;
}

.plan-header{
    text-align: center;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 40px;
}

.plan-skills{
    display: flex;
    margin: 0 100px 0 100px ;
    gap: 80px;
    border: none;
    margin-bottom: 30px;
}

.skill{
    width: 25%;
    margin: 0 auto;
    text-align: center;

}

.skill img{
    display: inline-block;
    margin-bottom: 13px;
}

.skill-header{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.skill-description{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #737272;
}

/* Mindset Section */
.mindset-section{
    width: 1140px;
    margin: 200px auto; 
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    border-radius: 8px;
}

.mindset{
    width: 600px;
    height: 182px;
    padding: 59px 0 59px 59px;
    border-radius: 5px;
}


.mindset-header{
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.call-now-btn{
    background-color: #FFFFFF;
    color: #F15B22; ;
    border: 1px solid #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    margin-top: 25px;
}

/* Footer Section */
.footer-section{
    background-color: #151414;
    width: 100%;
    height: 577px;
    display: flex;
    gap: 300px;
}


/* Future Side */
.future{
    padding: 130px 0 130px 230px;
}

.future-heading{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future-description{
    color: #F8F8F8;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.email-address{
    color: #F8F8F8;
    margin-bottom: 16px;
}

.phone-no{
    color: #F8F8F8;
    margin-bottom: 30px;
}


.social-media{
    margin-right: 15px;
}


/* Subscribe side */
.subscribe-side{
    padding: 130px 230px 130px 0;
}

.subscribe-header{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;

}

input[type="email"]{
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 18px;
    margin-bottom: 16px;
}

.subscribe-btn{
    color: #F15B22;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
}

.subscribe-btn:hover{
    color:#fe3300 ;
    background-color: #f2ecec;
}